{% extends "base.html" %}

{% block page_title %}
Importer
{% endblock page_title %}

{% block page_content %}
<div >
    <h3 >Import Data to Collection</h3>
    <form action="{% url "importdata" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div >
            <label for="file_path">Upload CSV File</label>
            <input type="file" name="file_path" >
        </div>
        <div>
            <label for="model_name">Select Collection</label>
            <select name="model_name" >
            <option value="" disabled selected>Select</option>
            {% for collect in collections %}
            <option value="{{ collect }}">{{ collect }}</option>
            {% endfor %}
            
            </select>
        </div>
        <input type="submit" value="Import Data" >
    </form>
</div>
{% endblock page_content %}